---
---
@use "syntax";
@use "poole";

.example-embed {
  margin-bottom: 25px;
}

.fancylink {
  white-space: nowrap;
}

.fancylink svg {
  width: 8px;
  height: 10px;
}

.archive {
  .post {
    margin-bottom: 0.4em;
  }

  .post-title {
    font-size: 1.5rem;
  }

  .date {
    font-size: 80%;
    opacity: 0.8;
  }

  .description {
    font-size: 0.8em;
    font-weight: lighter;
    margin-bottom: 25px;
  }

  section {
    padding: .5rem 0;
  }
}
