<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3N6CESJ0B5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3N6CESJ0B5');
    </script>

    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
      {{ page.title }} &middot; {{ site.title }}
    </title>

    <link rel="stylesheet" href="/assets/css/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <link rel="canonical" href="{{site.url}}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  </head>

  <body class="layout-reverse">
    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
  </body>
</html>
